body{
    background-image: url("https://img.freepik.com/premium-photo/indian-happy-bank-employee-looking-camera-while-standing-office_466689-96657.jpg");
    background-size: cover;
    color: white;
    
}


