<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees </title>
    <link rel="stylesheet" href="{% static 'view.css' %}">
</head>
<body>
    <h2> Employees </h2>
    {% if employees %}
    <table border="2">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Actions</th>
    </tr>
    {% for e in employees %}
    
    <tr>
        <td>{{ e.e_name }}</td>
        <td>{{ e.e_number }}</td>
        <td>
            <a href="{% url 'get_employee_details' e.id %}"> View_details </a><br><br>
            <a href="{% url 'delete_employee' e.id %}"> Remove </a>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</body>
</html>